body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    /* color: darkblue; */
    color: rgb(0,0,0);
}

p{
    /* color: rgba(0,0,0,0.5); */
    /* color: #FF0000;
    color: #00FF00;
    color: #0000FF;
    color: #0F0;
    color: #F00; */

    /* color: hsl(0, 100%, 50%); */
    color: #333;

}